*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: black;
    color: white;
    height: 100vh;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    position: fixed;
    margin: 10px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}
.icons svg {
    width: 40px;
    height: 40px;
}

#boxIconSpeak{
    display: none;
    top: 0;
    left: 0;
}

#mapGoogle{
    top: 0;
    right: 0;
    cursor: pointer;
}

#mapGoogle svg {
    /*
    width: 20px;
    height: 20px;
    */
}

#mapGoogle:hover{
    transform: scale(1.4);
    transition: all 0.5s ease-in-out;
}

.box {
    height: 100%;
    flex-direction: column;
}

#imgBandeira {
    max-width: 600px;
    max-height: 350px;
    box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.2);
    animation: fadeIn 2s backwards;
    cursor: pointer;
}
#nomeBandeira{
    min-height: 50px;
    font-size: 32px;
    animation: fadeIn 1s backwards;
    text-align: center;
}

#nomeBandeira:hover{
    cursor: pointer;
}

.boxInfo{
    margin-top: 10px;
    flex-direction: row;
    gap: 20px;
}

#info {
    text-align: center;
    font-weight: 300;
    min-height: 135px;
    max-width: 450px;
    animation: fadeIn 1s forwards;
    color: rgba(255, 255, 255, 0.6);
}

#brasao {
    height: 100px;
    transition: transform 0.5s ease-in-out;
    animation: fadeIn 2s backwards;
}

#brasao:hover {
    transform: scale(3.8) translateY(-25px) translateX(-15px);
    transition: ease 0.6s;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    padding: 5px;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    animation: fadeIn 1s forwards;
}

#boxLoding {
    flex-direction: column;
}

#boxLoding img {
    width: auto;
    height: 200px;
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 600px){
    #imgBandeira{
        width: 100%;
        padding: 0 15px;
    }
    .boxInfo {
        flex-direction: column;
    }
    #info {
        width: 100%;
        padding: 0 15px;
    }
    #brasao:hover {
        transform: scale(4) translateY(-25px)
    }
}
